.template-switcher-overlay {
  background-color: rgba(0%, 0%, 0%, 50%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-switcher-modal {
  background-color: white;
  padding: 20px;
  outline: none;
  text-align: center;
  position: relative;
}

.template-img-button {
  margin: 10px;
  cursor: pointer;
}

.template-img {
  height: 500px;
  width: 400px;
  margin: 10px;

  &:hover {
    transform: scale(1.05);
  }
}

button.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}
