.template-switcher-overlay {
  background-color: rgba(0%, 0%, 0%, 50%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-switcher-modal {
  background-color: white;
  outline: none;
  position: relative;
  overflow-x: scroll;
}

.template-img-button {
  margin: 10px;
  cursor: pointer;
}

.template-img {
  border: 1px solid black;
  width: 300px;
  margin: 10px;

  &:hover {
    transform: scale(1.05);
  }
}

.templates-modal-content {
  display: flex;
  overflow: scroll;
  width: 100vw;
}

.switch-template-button-container {
  display: flex;
}
