.editor-buttons-container {
  display: flex;
  justify-content: center;

  & > button {
    background-color: #efefef;
    border-bottom: 0;
    border: 2px solid $black;
    color: $black;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 10px 5px 0 5px;
    outline: none;
    transition: background-color 0.25s;

    &:hover {
      background-color: $base01;
      border-color: $base01;
      color: $white;
    }
  }

  & > .active {
    background-color: $base03;
    border-color: $base03;
    color: $white;

    &:hover {
      background-color: $base01;
      border-color: $base01;
    }
  }
}

.editor-page {
  & main {
    display: flex;
    padding: 20px 0;
  }

  & section {
    margin: 0px 10px;
    width: 50%;
  }
}

.editor-section {
  position: relative;
}

.pdf-frame {
  border: none;
  height: calc(100vh - 50px);
}

.switch-template-button {
  background-color: $blue;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  line-height: 42px;
  margin: 0 auto;
  outline: none;
  padding: 0 40px;
  text-decoration: none;
  transition: 0.4s;

  &:hover {
    background-color: $base2;
    color: $black;
  }

  &:hover path {
    stroke: $black;
  }

  & svg {
    margin-left: 5px;
    vertical-align: text-bottom;
  }

  & path {
    stroke: $white;
    transition: 0.4s;
  }
}

.template-section {
  display: flex;
  flex-direction: column;
}

.export-json-button {
  border-radius: 40px;
  border-style: none;
  bottom: 10px;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  padding: 10px 20px;
  position: absolute;
  right: 10px;
  transition: background-color 0.25s;
  z-index: 100;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: $base01;
  }
}

.update-pdf-button {
  border-radius: 40px;
  border-style: none;
  bottom: 50px;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  padding: 10px 20px;
  position: absolute;
  right: 10px;
  transition: background-color 0.25s;
  z-index: 100;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: $base01;
  }
}
