// TODO: rename this class to something with meaning
.btn-one {
  background-color: $blue;
  border-radius: 30px;
  border: none;
  color: $base2;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  outline: none;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.4s;

  &:hover {
    background-color: $base2;
    color: $black;
  }

  &:hover path {
    stroke: $black;
  }

  & svg {
    margin-left: 5px;
    vertical-align: text-bottom;
  }

  & path {
    stroke: $white;
    transition: 0.4s;
  }
}

.choose-template-section {
  background-color: $base02;
  color: $base2;
  height: 100vh;
  text-align: center;
  z-index: 2;
}

.section-title {
  font-size: 40px;
  margin-bottom: 5px;
}

.home-page {
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
}

.hero-section {
  align-items: center;
  background-color: $base2;
  color: $cyan;
  display: flex;
  height: 100vh;
  justify-content: space-around;

  &::before {
    background-color: $base02;
    bottom: -30%;
    content: '';
    height: 180%;
    left: -5%;
    position: absolute;
    transform: rotate(-10deg);
    width: 70%;
    z-index: 1;
  }
}

.hero-one {
  align-items: flex-start;
  color: $base2;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 80vh;
  justify-content: center;
  width: 30vw;
  z-index: 2;
}

.hero-items {
  margin: 12px 12px 12px 12px;
}

.hero-two {
  align-items: center;
  color: $black;
  display: flex;
  height: 80vh;
  justify-content: center;
  width: 30vw;
  z-index: 2;
}

.hero-image {
  height: 70vh;
}

.triple-column-section {
  align-items: center;
  background-color: $base2;
  color: $base02;
  display: flex;
  flex-direction: column;
  padding: 60px 0 60px 0;
  text-align: center;
  z-index: 2;
}

.triple-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;

  & > p {
    font-size: 25px;
    margin-left: 25%;
    margin-right: 25%;
  }
}

.triple-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.triplet {
  align-items: center;
  background-color: $base2;
  border-radius: 20px;
  color: $base02;
  display: grid;
  flex-direction: column;
  font-size: 25px;
  grid-template-rows: 1fr auto auto;
  justify-content: flex-start;
  margin: 5px;
  padding: 5px;
  position: relative;

  & > svg {
    margin: auto;
  }
}

.triplet-icon {
  color: $blue;
  font-size: 90px;
  stroke: $blue;

  & path {
    stroke: $blue;
  }
}

.triplet-text {
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
  opacity: 0.8;
  padding-bottom: 50px;
}

.template-picker {
  display: flex;
  justify-content: space-around;
}

.template-pick {
  align-items: center;
  color: black;
  display: flex;
  height: 80vh;
  justify-content: space-around;
  width: 30vw;
}

.template-pick-image {
  height: 70vh;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.video-demo {
  align-items: center;
  color: $white;
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin: 50px auto;
}

.youtube-how-to-section {
  background-color: $base3;
  color: $base02;
  text-align: center;
}
