.btn-one {
  background-color: $blue;
  border-radius: 30px;
  border: none;
  color: $base2;
  font-size: 20px;
  font-weight: 900;
  outline: none;
  padding: 14px 40px;
  text-decoration: none;
  transition: 0.4s;

  &:hover {
    color: $black;
    background-color: $base2;
  }
}

.choose-template-section {
  color: $base02;
  background-color: $base2;
  height: 100vh;
  text-align: center;
  width: 100vw;
  z-index: 2;
}
.design {
  background-color: $base2;
  border-radius: 50px;
  display: block;
  height: 50px;
  left: -20px;
  position: absolute;
  top: -20px;
  transition: 0.3s;
  width: 50px;
}

.home-page {
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  width: 100%;
}

.hero-section {
  align-items: center;
  color: $cyan;
  background-color: $base2;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;

  &::before {
    background-color: $base02;
    bottom: -30%;
    content: '';
    height: 180%;
    left: -5%;
    position: absolute;
    transform: rotate(-10deg);
    width: 70%;
    z-index: 1;
  }
}

.hero-one {
  align-items: flex-start;
  color: $base2;
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 30vw;
  z-index: 2;
}

.hero-items {
  margin: 12px 12px 12px 12px;
}

.hero-two {
  align-items: center;
  color: $black;
  display: flex;
  height: 80vh;
  justify-content: center;
  width: 30vw;
  z-index: 2;
}

.hero-image {
  height: 70vh;
}

.triple-column-section {
  align-items: center;
  background-color: $base2;
  color: $base02;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;
  z-index: 2;
}

.triple-header {
  align-items: center;
  display: flex;
  height: 30vh;
  margin-left: 50px;
  width: 100vw;
}

.triple-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70vh;
  width: 100%;
}

.triplet {
  align-items: center;
  background-color: $base02;
  color: $base2;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  position: relative;
  width: 20vw;

  &:hover > .design {
    background-color: $blue;
  }
}

.template-picker {
  display: flex;
  justify-content: space-around;
}

.template-pick {
  align-items: center;
  color: black;
  display: flex;
  height: 80vh;
  justify-content: space-around;
  width: 30vw;
}

.template-pick-image {
  height: 70vh;
  transition: all 0.2s ease-in-out;
}

.template-pick-image:hover {
  transform: scale(1.1);
}
.video-demo {
  align-items: center;
  background-color: $red;
  color: $black;
  display: flex;
  height: 50vh;
  justify-content: center;
  width: 50vw;
}
.youtube-how-to-section {
  align-items: center;
  background-color: $base3;
  color: $red;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
