@import './App.scss';
@import './Editor/index.scss';
@import './Pdf.scss';
@import './HomePage.scss';
@import './CodeMirror.scss';
@import './EditorPage.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
