.template-switcher-overlay {
  background-color: rgba(0%, 0%, 0%, 50%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-switcher-modal {
  background-color: white;
  padding: 20px;
  outline: none;
}
